<!doctype html>
<!--[if IE 8]>         <html lang="en" class="ie ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="ie ie9">        <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en">                       <!--<![endif]-->

  <%= render "layouts/head" %>

  <body class="<%= "#{current_controller}-#{current_action}" %> <%= content_for :classes %>">

    <%= render 'layouts/header' %>

    <div id="content">

      <% flash.each do |type, msg| %>
      <p class="flash <%= type %>"><%= msg %></p>
      <% end %>

      <%= yield %>

    </div>

    <%= render 'layouts/footer' %>
    <div id="lightbox-background"></div>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>

  <%= render "layouts/ga" %>
</html>

