<!doctype html>
<!--[if IE 8]>         <html lang="en" class="ie ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="ie ie9">        <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en">                       <!--<![endif]-->

  <%= render "layouts/head" %>

<body class="<%= "#{current_controller}-#{current_action}" %> <%= content_for :classes %>">

  <%= render 'layouts/header' %>

  <div id="content">

    <% flash.each do |type, msg| %>
      <p class="flash <%= type %>"><%= msg %></p>
    <% end %>

    <%= yield %>

  </div>

  <%= render 'layouts/footer' %>
</body>

<!-- Latest jQuery from CDN -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<%= javascript_include_tag "application" %>

<%= yield :javascripts %>

<!-- Google Analytics -->
<%= render "layouts/ga" %>

</html>

